<div class="container-fluid shadow">
  <div class="py-5 mt-5">
    <div class="py-5">
      <div class="row d-flex justify-content-center align-items-center m-auto">
        <div
          class="col-lg-5 shadow border border-success rounded-start d-none d-xl-block d-lg-none"
          id="reg"
        >
          <div class="child text-center text-white">
            <h4>HAVE AN ACCOUNT !</h4>
            <p>Please log in to proceed to checkout</p>
            <a
              type="button"
              class="btn rounded-pill shadow col-3 ms-3 mb-2 w-100"
              style="background-color: white; color: #00b18f"
              routerLink="/main/login"
            >
              LOG IN & CHECKOUT
            </a>
          </div>
        </div>
        <div
          class="col-lg-5 border border-success px-5 py-3 shadow rounded-end"
          id="radius"
        >
          <div class="text-center">
            <h3 class="title">NO ACCOUNT YET?!</h3>
            <p class="text-muted pb-1 pt-0">
              Create an account in order to checkout
            </p>
          </div>
          <div class="mb-1">Register with Google Account</div>
          <button class="btn btn-dark border-0 google rounded-0 mb-5">
            sign in with google
          </button>
          <div
            class="row d-flex justify-content-center align-items-center mb-3"
          >
            <div class="col-10 border-top border-secondry text-center">
              <span class="col-1 text-center">OR</span>
            </div>
          </div>
          <form
            class="col-lg-12 m-auto"
            [formGroup]="registerForm"
            (ngSubmit)="register()"
          >
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="mobile" class="col-form-label pe-3"
                  >Mobile <span class="text-danger fw-bold">*</span></label
                >
              </div>
              <div class="col-9">
                <input
                  id="mobile"
                  class="form-control ps-1 rounded-pill p-1 mb-2"
                  formControlName="moblieNum"
                  [class.is-invalid]="moblieNum?.invalid && moblieNum?.touched"
                />
                <div
                  *ngIf="moblieNum?.invalid && moblieNum?.touched"
                  class="pt-0 mt-0 form-text text-danger"
                >
                  <small
                    *ngIf="moblieNum?.errors?.['required']"
                    class="form-text text-danger pt-0 mt-0"
                    style="font-size: 80%"
                    >Mobile Number is Required</small
                  >
                  <small
                    *ngIf="moblieNum?.errors?.['pattern']"
                    class="form-text text-danger"
                    style="font-size: 80%"
                    >Mobile Number Shoud be 11 number</small
                  >
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="userName" class="col-form-label"
                  >Username <span class="text-danger fw-bold">*</span></label
                >
              </div>
              <div class="col-9">
                <input
                  type="text"
                  id="userName"
                  class="form-control rounded-pill p-1"
                  formControlName="userName"
                  [class.is-invalid]="userName?.invalid && userName?.touched"
                />
                <div
                  *ngIf="userName?.errors?.['minLength'] && userName?.touched"
                >
                  <small
                    *ngIf="userName?.errors?.['minLength']"
                    class="form-text text-danger"
                    >Username Must Be Taller than 3 charcters</small
                  >
                </div>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="password" class="col-form-label"
                  >Password <span class="text-danger fw-bold">*</span></label
                >
              </div>
              <div class="col-9">
                <input
                  type="password"
                  id="password"
                  class="form-control rounded-pill p-1"
                  formControlName="password"
                  [class.is-invalid]="password?.invalid && password?.touched"
                />
                <div *ngIf="password?.invalid && password?.touched">
                  <small
                    *ngIf="password?.errors?.['pattern']"
                    class="form-text text-danger"
                    >Password Minimum eight characters, at least one uppercase
                    letter, one lowercase letter and one number</small
                  >
                </div>
              </div>
            </div>
            <div class="mb-3 col-9">
              <label for="exampleInputEmail1" class="form-label"
                >E-mail address <span class="text-danger fw-bold">*</span>
              </label>
              <input
                type="email"
                class="form-control rounded-pill p-1"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                formControlName="emailAdress"
                [class.is-invalid]="
                  emailAdress?.invalid && emailAdress?.touched
                "
              />
              <div *ngIf="emailAdress?.invalid && emailAdress?.touched">
                <small
                  id="emailHelp"
                  class="form-text text-danger"
                  *ngIf="emailAdress?.errors?.['required']"
                >
                  Email is Required .
                </small>
                <small
                  id="emailHelp"
                  class="form-text text-danger"
                  *ngIf="emailAdress?.errors?.['email']"
                >
                  Email Shoud contain @ .
                </small>
              </div>
            </div>
            <div class="row">
              <button
                type="submit"
                class="btn rounded-pill shadow LOG col-lg-5 col-sm-1 ms-3 mb-2 mt-2"
                [disabled]="!registerForm.valid"
              >
                CREAT NEW ACCOUNT
              </button>
            </div>
            <h4 class="text-secondry">Or log in with...</h4>
            <div>
              <a href=""
                ><i class="fa-brands fa-square-facebook fs-1 mb-3"></i
              ></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
