input::placeholder {
  color: white;
}
#footer {
  background-color: #00b18f;
}
#email:hover {
  border: none;
}
#SUBSCRIBE {
  color: #00b18f;
}
#SUBSCRIBE:hover {
  color: white;
  background-color: transparent;
}
