<div class="container-fluid p-5" id="footer">
  <div class="row d-flex justify-content-center align-items-center pb-5">
    <div class="col-8">
      <div class="row d-flex justify-content-center align-items-center me-5">
        <div class="col-lg-3">
          <ul class="list-unstyled fs-6 text-white">
            <li><span>HOTLINE | 19395</span></li>
            <li><span>SHIPPING & DELIVERY</span></li>
            <li><span>PAYMENT</span></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul class="list-unstyled fs-6 text-white">
            <li><span>CONTACT US</span></li>
            <li><span>RETURNS & EXCHANGE</span></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <ul class="list-unstyled fs-6 text-white">
            <li><span>BRANCHS</span></li>
            <li><span>PRIVACY POLICY</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="p-1 text-white fs-6">
        Subscribe now for news letter and get notified with the latest offers
        and products
      </div>
      <input
        type="email"
        name=""
        id="email"
        class="rounded-pill"
        placeholder="user@example.com"
        class="p-1 rounded-pill border border-white"
        style="background-color: transparent; color: white"
      />
      <div>
        <input
          id="SUBSCRIBE"
          href=""
          type="submit"
          class="p-2 rounded-pill border border-0 mt-3"
          value="SUBSCRIBE"
        />
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-3">
      <div class="row d-flex flex-wrap">
        <div class="col">
          <img
            src="https://www.fouda.com/sites/all/themes/custom/fp/img/fot-1.png"
            alt=""
            width="73px"
            height="21px"
          />
        </div>
        <div class="col d-none d-sm-block">
          <img
            src="https://www.fouda.com/sites/all/themes/custom/fp/img/fot-2.png"
            alt=""
            width="73px"
            height="13px"
          />
        </div>
        <div class="col">
          <img
            src="https://www.fouda.com/sites/all/themes/custom/fp/img/fot-3.png"
            alt=""
            width="69px"
            height="23px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/logo-white.png"
          width="128px"
          height="50px"
        />
      </div>
    </div>
    <div class="col-lg-3">
      <div class="d-flex justify-content-end">
        <a href="">
          <i class="fa-brands fa-square-facebook text-white fs-2 p-3"></i
        ></a>
        <a href="">
          <i class="fa-brands fa-square-twitter text-white fs-2 p-3"></i
        ></a>
        <a href="">
          <i class="fa-brands fa-instagram text-white fs-2 p-3"></i
        ></a>
        <a href=""> <i class="fa-brands fa-youtube text-white fs-2 p-3"></i></a>
      </div>
      <div class="row">
        <div class="d-flex justify-content-end text-white">
          © 2022 Fouda Pharmacy
        </div>
      </div>
    </div>
  </div>
</div>
