.log {
  background-color: #00b18f;
  border: none;
  color: white;
}
#sign {
  color: #00b18f;
}
.background {
  background-color: #00b18f;
  // transition: 1.5s ease-in;
}
.background.scrolled {
  color: red !important;
}
