<div class="container-fluid py-5 mt-4 px-0">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active bg-secondary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
        class="bg-secondary"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-1-1.png"
              class="w-100 mx-auto card-img img-fluid background"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/ar/slide-0-2-5.png"
              class="w-100 mx-auto h-100 card-img img-fluid pt-4"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-3-6.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-1-2.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-2-2.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="    https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-5-6.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src=" https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-4-6.png"
              class="w-100 mx-auto h-100 card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-12 border-bottom border-success"
      style="color: #00b18f"
    ></div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
