.cart {
  color: #00b18f;
}
// .cart:hover {
//   color: white;
//   background-color: #00b18f;
// }
#card {
  border-radius: 15px;
}
#next {
  background-color: #00b18f;
  color: white;
}

#main {
  position: relative;
}

#layer1 {
  position: absolute;
  bottom: 0.01px;
  right: 0.01px;
  height: 100%;
  width: 100%;
  background: #00b18f;
  opacity: 0.7;
}
