#cart {
  color: #00b18f;
  //   background-color: transparent;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}
#cart:hover {
  color: white;
  background-color: #00b18f;
}
#cart:hover::placeholder {
  background-color: #00b18f;
}
#card {
  border-radius: 15px;
}
#next {
  background-color: #00b18f;
  color: white;
}

.parent {
  // background-image: url("https://www.fouda.com/sites/all/themes/custom/fp/img/category/medications.jpg");
  // width: 200px;
  // height: 200px;
  position: relative;
  // color: white;
  border-radius: 10px;
}
.child1 {
  position: absolute;
  z-index: 10;
  background-color: #00b18f;
  opacity: 0.5;

  top: 0;
  left: 0;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.child1:hover {
  opacity: 1;
  color: white;
  border-radius: 10px;
}
// .child2 {
//   width: 100%;
//   height: 100%;
//   z-index: 11;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-weight: bold;
// }
.img1 {
  opacity: 0.5;
  border-radius: 10px;
}

#main {
  position: relative;
}

#layer1 {
  position: absolute;
  bottom: 0.01px;
  right: 0.01px;
  height: 100%;
  width: 100%;
  background: #00b18f;
  opacity: 0.7;
}

#layer2 {
  position: absolute;
}
