<!-- slider -->
<div class="container-fluid py-5 mt-4 px-0">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active bg-secondary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
        class="bg-secondary"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-1-1.png"
              class="w-100 mx-auto card-img img-fluid background"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/ar/slide-0-2-5.png"
              class="w-100 mx-auto h-100 card-img img-fluid pt-4"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-3-6.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-1-2.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-color: #00b18f; height: 680px"
      >
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-2-2.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src="    https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-5-6.png"
              class="w-100 mx-auto card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 680px">
        <div class="w-75 mx-auto">
          <div class="text-center mx-auto">
            <img
              src=" https://www.fouda.com/sites/all/themes/custom/fp/img/slider/slide-4-6.png"
              class="w-100 mx-auto h-100 card-img img-fluid"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-12 border-bottom border-success"
      style="color: #00b18f"
    ></div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- our services -->
<div class="container-fluid mt-5 py-5">
  <div class="row d-flex justify-content-center align-items-center m-auto">
    <div class="text-center">
      <p style="color: rgb(196, 216, 45); font-size: 16px; letter-spacing: 3px">
        OUR SERVICES
      </p>
      <h1
        class="pt-2 mb-5 fw-bold"
        style="
          color: rgb(0, 177, 143);

          font-size: 34px;
          letter-spacing: 3px;
        "
      >
        FOUDA PHARMACY
      </h1>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          You Shop We Deliver
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          Health Indicator
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          My Prescriptions
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6 mb-0 pb-0"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
  </div>
  <!-- imgs -->
  <div
    class="row d-flex justify-content-center align-items-center m-auto mt-5 py-5 pb-3"
  >
    <div class="text-center">
      <p style="color: rgb(196, 216, 45); font-size: 16px; letter-spacing: 3px">
        BROWSE PRODUCTS BY
      </p>
      <h1
        class="pt-2 mb-5 fw-bold"
        style="
          color: rgb(0, 177, 143);

          font-size: 34px;
          letter-spacing: 3px;
        "
      >
        OUR CATEGORIES
      </h1>
    </div>
    <div
      class="col-lg-2 col-md-3 col-sm-5 ms-1 mb-4"
      *ngFor="let cat of catList"
    >
      <div class="card text-white border-0 rounded">
        <img [src]="cat.img" class="card-img border-0 img1" />
        <div class="card-img-overlay">
          <div
            class="child1 d-flex justify-content-center align-items-center fs-5 fw-bold"
          >
            <a
              type="button"
              class="nav-link text-white"
              (click)="getPrdByCatID(cat)"
              >{{ cat?.name }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row2 -->
</div>
<!-- Latest Offers -->
<div class="container-fluid mt-5 py-5">
  <div
    class="row d-flex justify-content-center align-items-center mx-auto col-9"
  >
    <div class="text-center">
      <p style="color: rgb(196, 216, 45); font-size: 16px; letter-spacing: 3px">
        DON'T MISS OUR
      </p>
      <h1
        class="mb-5 fw-bold fs-2"
        style="
          color: rgb(0, 177, 143);

          letter-spacing: 3px;
        "
      >
        Latest Offers
      </h1>
    </div>
    <div
      class="col-xl-3 col-md-6 col-sm-5 p-2 mx-auto"
      *ngFor="let prd of prdList"
    >
      <div
        class="card shadow p-3 mb-5 bg-body"
        style="width: 260px; height: 450px"
        id="card"
        *ngIf="prd.discount > 20"
      >
        <img
          [src]="prd.img"
          class="card-img-top pb-0 mb-0 border m-auto img-fluid rounded-0"
          style="width: 220px; height: 200px !important"
        />
        <div class="card-img-overlay">
          <h5 class="card-title badge p-2" style="background-color: #f1563f">
            UP TO 50%
          </h5>
        </div>
        <div class="card-body pt-0 mt-0 pb-0 mb-0">
          <!-- <p class="text-muted fs-6 p-0 m-0">Muted text with a</p> -->
          <h5 class="card-title pt-3" style="color: #00b18f">{{ prd.name }}</h5>
        </div>
        <div class="card-body d-flex justify-content-between pt-5 pb-0 mb-0">
          <p class="card-link text-danger pb-0 mb-0">
            {{ prd.discount | currency : "EGP" }}
          </p>

          <a class="card-link text-dark text-end pb-0 mb-0">
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
          </a>
        </div>
        <p
          class="text-muted fs-6 ms-3 pt-0 mt-0"
          style="text-decoration: line-through"
        >
          {{ prd.price | currency : "EGP" }}
        </p>
        <div class="col-lg-12 border-top border-secondary"></div>

        <div class="card-body d-flex justify-content-between pb-0 mb-0">
          <a
            type="submit"
            class="btn rounded-pill stretched-link w-75 shadow cart p-2"
            >ADD TO CART</a
          >

          <a class="card-link text-dark fs-4 text-end pb-0 mb-0">
            <i class="bi bi-heart"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <a class="btn" id="next" (click)="(goPrevious)"
        ><i class="fa-solid fa-left-long"></i
      ></a>
    </div>

    <div class="col-6 text-center">
      <a class="btn" id="next" (click)="(goNext)"
        ><i class="fa-solid fa-right-long"></i
      ></a>
    </div>
  </div>
</div>

<!-- DISCRIPYION -->
<div class="mt-5 py-5 px-0 mx-0 mb-5">
  <div class="row ms-0 me-0 mb-5">
    <div id="main" class="col-sm-12 m-0 p-0">
      <img
        src="https://www.fouda.com/sites/all/themes/custom/fp/img/banner-2.jpg"
        alt=""
        width="100%"
        class="m-0 p-0 img-fluid"
      />
      <div id="layer1">
        <div id="layer2 " class="col-4 m-auto">
          <div class="text-white text-center mt-5">
            <p>ORDER YOUR</p>
            <h2 class="fw-bold">PRESCRIPTION</h2>
            <h6>
              Now you can upload your prescription in here and it will be
              translated items in your cart
            </h6>
            <a
              class="btn rounded-pill shadow bg-white px-5 py-2 mt-3"
              style="color: #00b18f"
              >ORDER NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
