<!-- slider -->
<app-slider></app-slider>
<!-- our services -->
<div class="container-fluid mt-5 py-5">
  <div class="row d-flex justify-content-center align-items-center m-auto">
    <div class="text-center">
      <p style="color: rgb(196, 216, 45); font-size: 16px; letter-spacing: 3px">
        OUR SERVICES
      </p>
      <h1
        class="pt-2 mb-5 fw-bold"
        style="
          color: rgb(0, 177, 143);

          font-size: 34px;
          letter-spacing: 3px;
        "
      >
        FOUDA PHARMACY
      </h1>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          You Shop We Deliver
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          Health Indicator
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center mx-auto">
        <img
          src="https://www.fouda.com/sites/all/themes/custom/fp/img/icons/services1.png"
          alt=""
          width="89"
          height="88"
          class="mx-auto"
        />
        <h2 class="fs-4 py-3" style="color: rgb(0, 177, 143)">
          My Prescriptions
        </h2>
        <p
          class="text-start mb-0 pb-0 fs-6"
          style="color: #767676; line-height: 1.42857143"
        >
          Now you can shop online, select all what you need from the pharmacy
          through our online store on web or on mobile app., and we will deliver
          it to you directly from our diffuse branches.
        </p>
        <p
          class="text-start pt-0 fs-6 mb-0 pb-0"
          style="color: #767676; line-height: 1.42857143"
        >
          Select products through the Shop menu or access one of the categories
          and then add the products to the cart then follow the process.
        </p>
      </div>
    </div>
  </div>
  <!-- categories -->
  <app-home-category></app-home-category>
  <!-- row2 -->
</div>
<!-- Latest Offers -->
<app-offers></app-offers>
<!-- DISCRIPYION -->
<div class="mt-5 py-5 px-0 mx-0 mb-5">
  <div class="row ms-0 me-0 mb-5">
    <div id="main" class="col-sm-12 m-0 p-0">
      <img
        src="https://www.fouda.com/sites/all/themes/custom/fp/img/banner-2.jpg"
        alt=""
        width="100%"
        class="m-0 p-0 img-fluid"
      />
      <div id="layer1">
        <div id="layer2 " class="col-4 m-auto">
          <div class="text-white text-center mt-5">
            <p>ORDER YOUR</p>
            <h2 class="fw-bold">PRESCRIPTION</h2>
            <h6>
              Now you can upload your prescription in here and it will be
              translated items in your cart
            </h6>
            <a
              class="btn rounded-pill shadow bg-white px-5 py-2 mt-3"
              style="color: #00b18f"
              >ORDER NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
