<div class="container-fluid pt-5 mt-2 pb-5 mb-5">
  <div class="mt-5 pt-5">
    <div class="row d-flex m-auto">
      <div class="col-lg-4 col-sm-12 m-auto">
        <div class="card im border-0 shadow">
          <img
            src="{{ product?.img }}"
            class="card-img-top img-fluid col-4"
            style="width: 470px; height: 470px !important"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 pt-5 pe-5 me-5">
        <div>
          <h5 class="pb-3">{{ product?.title }}</h5>
          <div class="row d-flex flex-wrap w-75 text-danger">
            <span class="text-start w-25">{{ product?.price | currency }}</span>
            <span class="text-end w-25">{{ product?.volume }}</span>
          </div>

          <a class="card-link text-dark text-end pb-0 mb-0">
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
          </a>
        </div>
        <div class="row d-flex justify-content-between pt-5 mt-5">
          <p class="col-10 text-danger">Out of stock</p>
          <a href="" class="col-1"
            ><i class="bi bi-heart fs-4 text-secondary"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
