<div class="container-fluid pt-5 mt-2 pb-5 mb-5">
  <div class="mt-5 pt-5">
    <div class="row d-flex col-11 m-auto">
      <div class="col-lg-4 col-sm-12 m-auto m-0 p-0">
        <div class="card im border-0 shadow">
          <!-- <img
            src="{{ product?.img }}"
            class="card-img-top img-fluid m-auto rounded-5"
            loading="lazy"
          /> -->
          <lib-ngx-image-zoom
            class="ngxImageZoomContainer card-img-top img-fluid m-auto rounded-5"
            [thumbImage]="product?.img"
            [fullImage]="product?.img"
            [magnification]="1"
            [enableScrollZoom]="true"
          ></lib-ngx-image-zoom>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 pt-5 px-0 mx-0">
        <div>
          <h5 class="pb-3">{{ product?.title }}</h5>
          <div class="row d-flex flex-wrap w-75 text-danger">
            <span class="text-start w-25">{{ product?.price | currency }}</span>
            <span class="text-end w-25">{{ product?.volume }}</span>
          </div>

          <a class="card-link text-dark text-end pb-0 mb-0">
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
            <a href="" class="text-dark"><i class="bi bi-star"></i></a>
          </a>
        </div>
        <div class="row d-flex justify-content-between pt-5 mt-5">
          <p class="col-4 mx-0 text-danger" *ngIf="product.quantity < 1">
            Out of stock
          </p>
          <a
            type="button"
            class="pt-2 btn btnCart text-muted shadow rounded-pill w-25"
            *ngIf="product.quantity >= 1"
            >ADD TO CART</a
          >
          <a href="" class="col-4"
            ><i class="bi bi-heart fs-4 text-secondary"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!-- <h1>title</h1>
<lib-ngx-image-zoom
  [thumbImage]="product?.img"
  [fullImage]="product?.img"
  [magnification]="5"
></lib-ngx-image-zoom> -->
