<div class="container-fluid mt-5">
  <div class="mt-5 pt-5 row mb-5 text-opacity-25" style="color: #333">
    <h1
      class="text-center fw-bold fs-2 mb-5"
      style="color: #00b18f; letter-spacing: 3px"
    >
      About Us
    </h1>
    <div class="col-9 m-auto shadow">
      <h4 class="fw-bold m-3 mt-5 text-opacity-25" style="color: #333">
        Wellness is you
      </h4>
      <p class="m-3">
        It is not just about being healthy, it is beyond. WELLNESS is a state of
        complete harmony & integration of the body, mind and spirit. In FOUDA
        everything we do, think, feel, and believe is dedicated to improve your
        state of well-being. We are dedicated to do what beyond normal to bring
        wellness into your life.
      </p>
      <h4 class="fw-bold m-3 text-opacity-25">Vision</h4>
      <p class="m-3">
        To be the top healthcare service provider and partner, expanding our
        international services to bring wellness in each community we serve.
      </p>
      <h4 class="fw-bold m-3 text-opacity-25">Mission</h4>
      <p class="m-3">
        To do what beyond normal everyday bringing wellness into lives of our
        fellows' human-beings. To use advanced technology providing the most
        high standard accessible solutions in healthcare and retail services.
      </p>
      <h4 class="fw-bold m-3 text-opacity-25">The 7 values</h4>
      <p class="d-block m-0 ms-3">You</p>
      <p class="d-block m-0 ms-3">Compassion</p>
      <p class="d-block m-0 ms-3">Integrity</p>
      <p class="d-block m-0 ms-3">Together</p>
      <p class="d-block m-0 ms-3">Accessibility</p>
      <p class="d-block m-0 ms-3">Innovation</p>
      <p class="d-block m-0 ms-3">Excellence</p>
      <h4 class="fw-bold m-3 text-opacity-25">Philosophy behind our symbol</h4>
      <p class="m-0 d-block ms-3">We attract all positives</p>
      <p class="m-0 d-block ms-3">We bridge all good meanings.</p>
      <p class="m-0 d-block mb-5 ms-3">We bring happiness in all what we do.</p>
    </div>
  </div>
</div>
