<div class="container-fluid shadow">
  <div class="py-5 mt-5">
    <div class="py-5">
      <div class="row d-flex justify-content-center align-items-center m-auto">
        <div class="col-lg-5 p-5 shadow rounded-start" id="radius">
          <div class="text-center">
            <h3 class="title pb-3">HAVE AN ACCOUNT</h3>
            <p class="text-muted pb-4">Please log in to proceed to checkout</p>
          </div>
          <!-- {{ loginForm.value | json }} -->
          <form
            class="col-lg-9 m-auto"
            [formGroup]="loginForm"
            (ngSubmit)="login()"
          >
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                > -->
              <input
                type="email"
                class="form-control rounded-pill p-1"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="UserName"
                formControlName="userName"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your userName with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                > -->
              <input
                type="password"
                class="form-control rounded-pill p-1"
                id="exampleInputPassword1"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="row">
              <button
                type="submit"
                class="btn rounded-pill shadow LOG col-lg-3 col-sm-1 ms-3 mb-2"
                [disabled]="!loginForm.valid"
              >
                LOG IN
              </button>
              <p class="title col-lg text-end">Request new password</p>
            </div>
            <h4 class="text-secondry">Or log in with...</h4>
            <div>
              <a href=""><i class="fa-brands fa-square-facebook fs-1"></i></a>
            </div>
            <button class="btn btn-dark border-0 google mt-2 rounded-0">
              sign in with google
            </button>
          </form>
        </div>

        <div
          class="col-lg-5 shadow rounded-end d-none d-xl-block d-lg-none"
          id="reg"
        >
          <div class="child text-center text-white">
            <h4>NO ACCOUNT YET?!</h4>
            <p>Create an account in order to checkout</p>
            <a
              type="button"
              class="btn rounded-pill shadow col-3 ms-3 mb-2 w-100"
              style="background-color: white; color: #00b18f"
              routerLink="/main/register"
            >
              CREAT AN ACCOUNT
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
