#cart {
  color: #00b18f;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}
#cart:hover {
  color: white;
  background-color: #00b18f;
}
input[type="checkbox"] {
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]::before {
  background-color: #00b18f;
}
input[type="checkbox"]:checked::after {
  background-color: white;
}
.sub {
  background-color: #f4f4f4;
}
.sub:hover {
  background-color: #00b18f;
  color: white;
}
