<div class="container-fluid pt-5">
  <div class="pt-5">
    <div class="row">
      <h1 class="text-center text-danger fw-bold">
        <i class="fa-brands fa-uniregistry text-danger p-4"></i>
        {{ prdList[0]?.category?.name || undefined }}
      </h1>
    </div>
    <!-- subcategory -->
    <div class="d-flex col-lg-5 col-sm-2 m-auto">
      <input
        class="form-control me-2 rounded-pill m-5 mt-0 col-5"
        type="search"
        placeholder="Search with product name or his id"
        aria-label="Search"
        id="search"
        name="search"
        [(ngModel)]="searchText"
      />

      <!-- <button class="btn btn-outline-success"> -->
      <!-- (click)="searchFun(prdName.value)" -->
      <!-- Search
      </button> -->
    </div>

    <div
      class="row d-flex justify-content-center align-items-center m-auto col-10"
    >
      <a
        *ngFor="let sub of subList"
        type="button"
        class="btn rounded-pill border-0 shadow text-muted m-1 col-sm-2 sub"
        (click)="getPrdOfSubID(sub)"
        >{{ sub.name }}</a
      >
      <select
        (change)="sort($event)"
        id="sort-by"
        class="rounded-pill border-0 shadow m-2 col-sm-1 p-1 text-secondary"
      >
        <option value="" selected disabled hidden>Sort By</option>
        <option value="Name">Name</option>
        <option value="Low">Show Low to High Price</option>
        <option value="High">Show High to Low Price</option>
      </select>
    </div>

    <!-- products -->
    <div
      class="row d-flex justify-content-center align-items-center m-auto col-10"
    >
      <div class="col-xl-3 col-md-6 col-sm-12 p-1">
        <div class="card mb-3 shadow" style="width: 262px; height: 400px">
          <ul class="list-group pt-0 mt-0">
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 fw-bold"
            >
              Brand
              <span class="text-success fw-bold mb-3"> __</span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              Price less than 100
              <span class=" ">
                <input
                  class="form-check-input me-1 text-success"
                  type="checkbox"
                  value=""
                  aria-label="..."
              /></span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>

            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>
            <li
              class="list-group-item text-muted d-flex justify-content-between align-items-center border-top-0 border-bottom-0"
            >
              A list item
              <span class=" ">
                <input
                  id="check"
                  class="form-check-input me-1"
                  type="checkbox"
                  value=""
              /></span>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-xl-3 col-md-6 col-sm-12 mt-3"
        *ngFor="let prd of prdList | filter : searchText"
        let
        i="index"
      >
        <div
          class="card mb-3 shadow box"
          style="width: 262px; height: 460px; cursor: pointer"
        >
          <img
            src="{{ prd.img }}"
            class="card-img-top"
            width="232"
            height="240"
            (click)="getPrdDetails(prd)"
          />
          <div class="card-body pt-0 mt-0 pb-0 mb-0">
            <p class="mb-0 text-muted">{{ prd.name }}</p>
            <p class="card-text pt-0 mt-0 pb-0 mb-0" style="color: #00b18f">
              {{ prd.title }}
            </p>
            <p class="mb-0 text-muted">{{ prd.volume }}</p>
            <div class="card-body d-flex justify-content-between mt-3 mb-0 p-0">
              <p class="card-link text-danger pt-0 mt-0 text-start">
                {{ prd.price | currency }}
              </p>
              <a class="card-link text-dark text-end pb-0 mb-0">
                <a href="" class="text-dark"><i class="bi bi-star"></i></a>
                <a href="" class="text-dark"><i class="bi bi-star"></i></a>
                <a href="" class="text-dark"><i class="bi bi-star"></i></a>
                <a href="" class="text-dark"><i class="bi bi-star"></i></a>
                <a href="" class="text-dark"><i class="bi bi-star"></i></a>
              </a>
            </div>
            <div class="border-bottom border-secondry w-100 mb-2"></div>
            <p *ngIf="prd.quantity < 1" class="text-danger pt-2">
              Out of stock
            </p>
            <div class="row d-flex justify-content-between">
              <select
                [hidden]="prd.quantity < 1"
                class="form-select w-50 rounded-pill shadow"
                aria-label="Default select example"
                #cartAmount
              >
                <option selected>Amount</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
              <a
                type="button"
                class="pt-2 btn btnCart text-muted shadow rounded-pill w-50"
                (click)="addToCart(prd, user, cartAmount.value)"
                *ngIf="prd.quantity >= 1"
                >ADD TO CART</a
              >
              <!-- <span
                class="bi"
                [class.bi-heart-fill]="isFav"
                [class.bi-heart]="!isFav"
                (click)="addFav()"
              ></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
