/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar-thumb {
  background-color: #00b18f;
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
}
body {
  font-family: roboto !important;
}
@import "~bootstrap-icons/font/bootstrap-icons.css";
