<div class="container-fluid mt-5 py-5">
  <h1 class="text-center" style="color: #00b18f">Blog</h1>
  <div class="py-5">
    <div
      class="row d-flex justify-content-center align-items-center col-11 m-auto"
    >
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card border-0 shadow" style="width: 360px; height: 414px">
          <img
            src="https://www.fouda.com/sites/default/files/styles/articles__520_320_/public/e1549547380792.png?itok=dJFTbaT5"
            class="card-img-top rounded-0 border-0 p-3"
            width="360 "
            height="200"
          />
          <div class="card-body pt-0">
            <p class="card-title" style="color: #c4d82e">Card title</p>
            <h5 class="card-text pt-0 mb-5" style="color: #00b18f">
              How Does A Person Freeze To Deathe ?
            </h5>
            <div class="col-11 border-bottom"></div>
            <a class="btn shadow mt-2 rounded-pill p-3" style="color: #00b18f"
              >READ MORE</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-5">
        <div class="card border-0 shadow" style="width: 360px; height: 414px">
          <img
            src="https://www.fouda.com/sites/default/files/styles/articles__520_320_/public/Screenshot%20from%202019-02-07%2015-47-23.png?itok=0-KgwmxF"
            class="card-img-top rounded-0 border-0 p-3"
            width="360 "
            height="200"
          />
          <div class="card-body pt-0">
            <p class="card-title" style="color: #c4d82e">Card title</p>
            <h5 class="card-text pt-0 mb-5" style="color: #00b18f">
              How Does A Person Freeze To Deathe ?
            </h5>
            <div class="col-11 border-bottom"></div>
            <a class="btn shadow mt-2 rounded-pill p-3" style="color: #00b18f"
              >READ MORE</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card border-0 shadow" style="width: 360px; height: 414px">
          <img
            src="https://www.fouda.com/sites/default/files/styles/articles__520_320_/public/Screenshot%20from%202019-02-07%2015-32-45.png?itok=OPihftD2"
            class="card-img-top rounded-0 border-0 p-3"
            width="360 "
            height="200"
          />
          <div class="card-body pt-0">
            <p class="card-title" style="color: #c4d82e">Card title</p>
            <h5 class="card-text pt-0 mb-5" style="color: #00b18f">
              How Does A Person Freeze To Deathe ?
            </h5>
            <div class="col-11 border-bottom"></div>
            <a class="btn shadow mt-2 rounded-pill p-3" style="color: #00b18f"
              >READ MORE</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
